* {
    margin: 0;
    padding: 0;
}

html, body, #root {
    height: 100%;
    width: 100%;
}@font-face {
    font-family: 'ProximaNova';
    src: url('/fonts/proximaNova/proxima-nova-black/proxima-nova-black.woff') format('woff'),
    url('/fonts/proximaNova/proxima-nova-black/proxima-nova-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('/fonts/proximaNova/proxima-nova-extrabold/proxima-nova-extrabold.woff') format('woff'),
    url('/fonts/proximaNova/proxima-nova-extrabold/proxima-nova-extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('/fonts/proximaNova/proxima-nova-semibold/proxima-nova-semibold.woff') format('woff'),
    url('/fonts/proximaNova/proxima-nova-semibold/proxima-nova-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('/fonts/proximaNova/proxima-nova-regular/proxima-nova-regular.woff') format('woff'),
    url('/fonts/proximaNova/proxima-nova-regular/proxima-nova-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}.language-switch {
    position: fixed;
    right: 20px;
    top: 20px;
    color: #fff;
    z-index: 2;
}.language-switch .language {
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    margin-left: 10px;
    width: 50px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    border: 2px solid transparent;
}.language-switch .language.active {
    border: 2px solid #fff;
}.layout {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/images/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}.layout::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.7);
}.layout .content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
}.layout .content .description-container {
    width: 577px;
}.layout .content .description-container h2 {
    color: #fff;
    font-size: 24px;
    line-height: 18px;
    margin-bottom: 56px;
}.layout .content .description-container h2 .logo {
    background-image: url(/images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 28px;
    width: 70px;
    display: inline-block;
    position: relative;
    top: -12px;
    margin-right: 18px;
    float: left;
}.layout .content .description-container p {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    padding-right: 127px;
}.layout .content .login-container {
    width: 300px;
    display: flex;
    flex-direction: column;
}.layout .content .login-container .login-title {
    color: #fff;
    margin-bottom: 41px;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}.layout .content .login-container .field {
    height: 30px;
    line-height: 30px;
    margin-bottom: 7px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 4px;
    outline: none;
    height: 55px;
    font-size: 18px;
    padding: 0 16px;
    color: #fff;
}.layout .content .login-container .button {
    height: 30px;
    line-height: 30px;
    background: #ee2227;
    border-radius: 4px;
    border: none;
    color: #fff;
    text-align: left;
    padding: 0 18px;
    height: 55px;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    margin-bottom: 22px;
    cursor: pointer;
}html,body{font-family:ProximaNova,sans-serif;font-weight:400;letter-spacing:-.1px;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased}*{font-family:ProximaNova}