* {
    margin: 0;
    padding: 0;
}

html, body, #root {
    height: 100%;
    width: 100%;
}@font-face {
    font-family: 'ProximaNova';
    src: url('/fonts/proximaNova/proxima-nova-black/proxima-nova-black.woff') format('woff'),
    url('/fonts/proximaNova/proxima-nova-black/proxima-nova-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('/fonts/proximaNova/proxima-nova-extrabold/proxima-nova-extrabold.woff') format('woff'),
    url('/fonts/proximaNova/proxima-nova-extrabold/proxima-nova-extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('/fonts/proximaNova/proxima-nova-semibold/proxima-nova-semibold.woff') format('woff'),
    url('/fonts/proximaNova/proxima-nova-semibold/proxima-nova-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('/fonts/proximaNova/proxima-nova-regular/proxima-nova-regular.woff') format('woff'),
    url('/fonts/proximaNova/proxima-nova-regular/proxima-nova-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}.language-switch {
    position: fixed;
    right: 20px;
    top: 20px;
    color: #fff;
    z-index: 2;
}.language-switch .language {
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    margin-left: 10px;
    width: 50px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    border: 2px solid transparent;
}.language-switch .language.active {
    border: 2px solid #fff;
}.layout {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}.layout::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.7);
}.layout .content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
}.layout .description-container h2 {
    color: #fff;
    font-size: 24px;
    line-height: 18px;
    margin-bottom: 56px;
}.layout .description-container h2 .logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 28px;
    width: 70px;
    display: inline-block;
    margin-right: 18px;
}.layout .description-container p {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
}.layout .login-container {
    width: 300px;
    display: flex;
    flex-direction: column;
}.layout .login-container .login-title {
    color: #fff;
    margin-bottom: 41px;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}.layout .login-container .field {
    height: 30px;
    line-height: 30px;
    margin-bottom: 7px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 4px;
    outline: none;
    height: 55px;
    font-size: 18px;
    padding: 0 16px;
    color: #fff;
    width: 300px;
    box-sizing: border-box;
}.layout .login-container .button {
    width: 300px;
    height: 55px;
    line-height: 30px;
    border-radius: 4px;
    border: none;
    color: #fff;
    text-align: left;
    padding: 0 18px;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    margin-bottom: 22px;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-appearance: none;
}.layout.login-form-invalid .field {
    border: 1px solid #ee2227;
    color: rgba(169, 25, 29, 0.7);
}.layout.login-form-invalid .button {
    background: #fff !important;
    color: #ee2227;
}.layout footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100px;
    line-height: 100px;
    width: 100%;
    z-index: 2;
    background: rgba(0,0,0,0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}.layout footer .inner {
    font-size: 15px;
    line-height: 15px;
    max-width: 877px;
}.layout footer .title {
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
}.layout footer .email {
    font-weight: bold;
    color: #ee2227;
    padding-right: 5px;
}.layout footer .phone {
    padding-left: 5px;
}

/* phones, tablets */
@media screen and (max-width: 1280px) {
    .layout .content {
        flex-direction: column;
        align-items: center;
    }
    .layout .description-container {
        width: 100%;
        max-width: 468px;
    }
    .layout .description-container h2 {
        text-align: center;
    }
    .layout .description-container p {
        font-size: 17px;
        padding: 20px;
        text-align: center;
    }
    .layout .login-container {
        display: none;
    }
    .layout .show-login-form-button {
        height: 30px;
        line-height: 30px;
        background: none;
        border-radius: 4px;
        border: 2px solid #fff;
        color: #fff;
        text-align: center;
        height: 55px;
        font-size: 20px;
        font-weight: bold;
        outline: none;
        cursor: pointer;
        text-transform: uppercase;
        width: 300px;
        margin-top: 46px;
    }
    .layout.login-form-visible .description-container,
            .layout.login-form-visible .show-login-form-button {
        display: none;
    }
    .layout.login-form-visible .login-container {
        display: block;
    }
    .layout footer .title {
        text-align: center;
    }
}

/* desktop */
@media screen and (min-width: 1281px) {
    .layout .description-container {
        width: 577px;
        margin-top: -13px;
    }
    .layout .description-container p {
        padding-right: 127px;
    }
    .layout .show-login-form-button {
        display: none;
    }
    .layout footer .inner {
        width: 877px;
    }
}html,body{font-family:ProximaNova,sans-serif;font-weight:400;letter-spacing:-.1px;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased}*{font-family:ProximaNova}